* {
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 0.7em;
  --mono-font: 'FiraCode Lizzy', monospace;
  --code-font-size: 1em;
}

html {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.icon {
  width: 2em;
  height: 2em;
}

.emoji {
  width: 1em;
  height: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.pixelated {
  image-rendering: pixelated;
}

.chapter-item {
  cursor: default;
}

.affix {
  cursor: auto;
}

.ayu {
  --sidebar-non-existant: var(--searchresults-border-color);
}

.coal {
  --sidebar-non-existant: var(--searchresults-border-color);
}

.light {
  --sidebar-non-existant: var(--searchresults-border-color);
}

.navy {
  --sidebar-non-existant: var(--searchresults-border-color);
}

.rust {
  --sidebar-non-existant: var(--searchresults-border-color);
}

.light.no-js {
  --sidebar-non-existant: var(--searchresults-border-color);
}
