/* https://brailleinstitute.org/freefont */
/* TO DO: Change to the Pro fork https://jacobxperez.github.io/atkinson-hyperlegible-pro/ */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('./Atkinson.woff2') format('woff2');
}

/* https://github.com/tonsky/FiraCode */
/* ./script/build.sh --features "cv02,cv12,ss05,ss03,cv31,cv30,cv20,cv21,cv27,ss06" --family-name "FiraCode Lizzy" --weights "Regular" */
@font-face {
    font-family: 'FiraCode Lizzy';
    font-style: normal;
    font-weight: 400;
    src: url('./FiraCodeLizzy.woff2') format('woff2');
}

